@media screen and (min-height: 769px) and (max-width: 1366px) {
  #main-head {
    height: 775px;
  }
  .top-arrow {
    margin: 15% auto 0;
  }
  #main-header {
    margin-top: 21%;
  }
}

@media screen and (min-width: 1151px ) and (max-width: 1225px ) {
  nav > ul.inline-list li {
    margin-left: 2%;
  }
  #main-head h1 > a:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1079px ) and (max-width: 1150px ) {
  nav > ul.inline-list li {
    margin-left: 1%;
  }
  #main-head h1 > a:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1024px ) and (max-width: 1078px ) {
  nav > ul.inline-list li {
    margin-left: 0.2%;
  }
  #main-head h1 > a:nth-child(2) {
    display: none;
  }

  #map > .map-overlay {
    width: 340px;
  }

  .arrow-to-mitchell {
    width: 3em;
  }

  .featured-work-left > p {
    font-size: 0.91em;
  }

  .featured-background {
    height: 315px;
  }

  .featured-picture {
    height: 315px;
  }

  .featured-work-left > h4 {
    font-size: 1em
  }

  .client-logo {
    padding: 70px;
    border: 1px solid #c8c8c8;
    border-right: none;
    height: 150px;
  }

  .porsche-logo {
    padding-top: 30px;
    padding-left: 80px;
  }

  .yakima-logo {
    padding-left: 60px;
    padding-top: 20px;
  }

  .fisker-logo {
    padding-left: 100px;
    padding-top: 45px;
  }

  .les-logo {
    padding-left: 80px;
    padding-top: 30px;
  }

  .client-logo {
    -webkit-filter:grayscale(0);
  }

  #about-info {
    width: 85%;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    line-height: 40px;
  }

/* #about-us {
  margin-top: -100px;
}*/


  #team-wrap .row div.small-12 > span {
    font-size: 20px;
  }

  #team-wrap .row div.small-12 > div > .developer-name {
    font-family: 'MavenProLight';
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    width: 100%;
    display: inline-block;
  }

  #team-wrap .row div.small-12 > div > .developer-title {
    font-family: 'MavenProLight';
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    width: 100%;
    display: inline-block;
  }

  .cover {
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0px;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0);
    transition: all .5s linear;
    padding-left: 50px;
  }

  .cover p:nth-child(1) {
    font-family: 'MavenProMedium';
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 4px;
  }

  .cover p:nth-child(2) {
    font-family: 'MavenProLight';
    font-size: 1em;
    letter-spacing: 0.0325em;
    width: 90%;
  }

  .timbr {
    height: 300px;
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 956px ) and (max-width: 1023px ) {
  nav > ul.inline-list li {
    margin-left: 0.2%;
  }
}

@media screen and (min-width: 640px ) and (max-width: 955px ) {
  #main-head h1 > a:nth-child(1) {
    display: none;
  }

  #main-head h1 > a:nth-child(2) {
    display: block;
  }

  #trigger-overlay {
    display: block;
  }

  nav > ul.inline-list li {
    margin-left: 0.2%;
  }
}

@media screen and (min-width: 320px ) and (max-width: 640px ) {
  #main-head nav.large-7 {
    display: none;
  }

  #main-header {
    font-size: 50px;
  }

  #main-header + h2 {
    font-size: 42px;
    padding-top: 10px;
  }

  #about-info {
    width: 320px;
    font-size: 1em;
    line-height: 30px;
    letter-spacing: 0.03em;
  }

  #icon-1 {
    background: url(../assets/mobile/icon_03-mobile.png) no-repeat;
  }

  #icon-2 {
    background: url(../assets/mobile/icon_05-mobile.png) no-repeat;
  }

  #icon-3 {
    background: url(../assets/mobile/icon_07-mobile.png) no-repeat;
  }

  #icon-1, #icon-2, #icon-3 {
    height: 90px;
    width: 80px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  #about {
    height: 400px;
  }

  .about-header {
    padding-top: 40px;
    font-size: 1.8em;
  }

  .featured-wrapper {
    height: 100px;
    width: 100%;
  }

  .featured-wrapper > h2 {
    font-family: 'MavenProRegular';
    letter-spacing: 0.0425em;
    padding-top: 20px;
    color: #fff;
  }

  .featured-work-left {
    padding-left: 20px;
    margin-top: 20px;
  }

  .featured-work-left > h3 {
    margin-top: 40px;
  }

  .arrow-to-mitchell {
    background: url(../assets/mobile/arrows_bottom-mobile.png) no-repeat;
    height: 21px;
    width: 67px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

   .arrow-to-porsche {
    background: url(../assets/mobile/arrows_bottom-mobile.png) no-repeat;
    height: 21px;
    width: 67px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .featured-work-border {
    width: 350px;
    height: 1px;
  }

  .featured-picture {
    margin-left: 0;
    height: 260px;
    width: 100%;
    display: block;
  }

  .mobile-porsche {
    display: block;
  }

  .porsche-large {
    display: none;
  }

  img.featured-picture {
    -webkit-filter:grayscale(0);
  }

  div.featured-background div:nth-child(3) {
    padding: 0;
  }

  .featured-work-left > h4 {
    font-family: 'MavenProRegular';
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #6d6d71;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-work-left > h3 {
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-work-left > p {
    font-family: 'MavenProLight';
    font-size: 0.98em;
    letter-spacing: 0.0325em;
    color: #9f8c86;
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-background {
    background-color: #ededed;
    height: auto;
  }

  #team-wrap .row div.small-12 {
    width: 90%;
    height: 220px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 1px;
    color: #6d6d71;
    border-top: 1px solid #c2c2c3;
    padding-top: 100px;
    position: relative;
  }

  .client-header {
    font-family: 'MavenProRegular';
    font-size: 18px;
    letter-spacing: 0.0325em;;
    color: #c2c2c3;
    font-style: italic;
    padding-top: 18px;
    border-top: 1px solid #c8c8c8;
  }

  .client-logo {
    padding: 70px;
    border: 1px solid #c8c8c8;
    border-right: none;
    height: 150px;
  }

  .porsche-logo {
    padding-top: 15px;
    text-align: center;
  }

  .yakima-logo {
    text-align: center;
    padding-top: 15px;
  }

  .fisker-logo {
    text-align: center;
    padding-top: 45px;
  }

  .les-logo {
    text-align: center;
    padding-top: 30px;
  }

  .client-logo {
    -webkit-filter:grayscale(0);
  }

  .logo-top-row > div:nth-child(4) {
    padding-top: 55px;
    text-align: center;
  }

  #team-wrap .row:nth-child(2) div.small-12:nth-child(1) {
    border-bottom: 1px solid #c2c2c3;
  }

  #main-footer {
    height: 100px;
  }

  #main-footer div.large-9 {
    height: 100px;
    background-color: #333d47;
  }

  #main-footer div.large-3 {
    height: 100px;
    background-color: #7accc8;
  }

  #contact > small {
    color: #e2dddb;
    font-size: 14px;
    font-family: 'MavenProRegular';
    letter-spacing: 0.0325em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    display: block;
  }

  #main-footer > a > div.large-3  > p {
    font-size: 32px;
    font-weight: 100;
    font-family: 'MavenProLight';
    letter-spacing: 0.0325em;
    color: #fff;
    padding-top: 25px;
  }

  #main-footer a div.large-3:hover {
    background-color: #5A96D9;
    cursor: pointer;
  }
  .top-arrow {
    display: none;
  }

  .top-arrow-mobile {
    background: url(../assets/mobile/arrow_03.png) no-repeat;
    width: 35px;
    height: 42px;
    margin: 140px auto 0;
    cursor: pointer;
  }

  #map {
    width: 100%;
    height: 320px;
    position: static;
  }

  #map > .map-overlay {
    background-color: #ededed;
    width: 100%;
    height: 320px;
    position: static;
    border-right: 0px;
    border-left: 0px;
  }

  .map-overlay .adr:hover > p {
    color: #55B0AC;
    transition: color 1s ease 0s;
  }

  .map-overlay .adr > p {
    transition: color 1s ease 0s;
  }

  .map-overlay > p:nth-child(1), .map-overlay > p:nth-child(2) {
    font-family: 'MavenProRegular';
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #6d6d71;
    text-transform: uppercase;
    line-height: 4px;
    padding-left: 0px;
    text-align: center;
  }

  .map-overlay > p:nth-child(1) {
    padding-top: 60px;
  }

  .adr > p, .adr + p, .tel  {
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #9f8c86;
    text-transform: uppercase;
    line-height: 2px;
    text-align: left;
    padding-left: 5.5em;
  }

  .tel {
    padding-top: 10px;
  }

  .add-us:hover {

    color: #55B0AC;
    transition: color 1s ease 0s;
  }

  .add-us {
    transition: color 1s ease 0s;
  }

  .adr > p:nth-child(1) {
    padding-top: 20px;
  }

  img ~ a {
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #9f8c86;
    line-height: 2px;
    font-style: italic;
  }

  .tel + img {
    display: inline-block;
    padding-left: 3.8em;
  }

  .team-wrapper > h2 {
    padding-top: 40px;
  }

  .team-wrapper {
    height: 1310px
  }

  #about-us + div {
    margin-bottom: 30px;
  }

  .team-wrapper img.ridestyler {
    margin-bottom: 40px;
  }

  #clients + div.row > div:nth-child(4) {
    border-bottom: 1px solid #c8c8c8;
  }
}

@media screen and (min-width: 320px ) and (max-width: 375px ) {
  #main-head nav.large-7 {
    display: none;
  }

  #main-head {
    height: 600px;
  }

  #main-header {
    font-size: 40px;
    margin-top: 200px;
  }

  #main-header + h2 {
    font-size: 32px;
    padding-top: 10px;
  }

  #about-info {
    width: 90%;
    font-size: 0.9em;
    line-height: 27px;
    letter-spacing: 0.03em;
  }

  #icon-1 {
    background: url(../assets/mobile/icon_03-mobile.png) no-repeat;
  }

  #icon-2 {
    background: url(../assets/mobile/icon_05-mobile.png) no-repeat;
  }

  #icon-3 {
    background: url(../assets/mobile/icon_07-mobile.png) no-repeat;
  }

  #icon-1, #icon-2, #icon-3 {
    height: 90px;
    width: 80px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  #about {
    height: 370px;
  }

  .about-header {
    padding-top: 30px;
    font-size: 1.5em;
  }

  .featured-border {
    width: 90%;
  }

  .featured-wrapper {
    height: 100px;
    width: 100%;
  }

  .featured-wrapper > h2 {
    font-family: 'MavenProRegular';
    letter-spacing: 0.0425em;
    padding-top: 25px;
    color: #fff;
    font-size: 1.5em;
  }

  .featured-work-left {
    padding-left: 20px;
    margin-top: 20px;
  }

  .featured-work-left > h3 {
    margin-top: 40px;
  }

  .arrow-to-mitchell {
    background: url(../assets/mobile/arrows_bottom-mobile.png) no-repeat;
    height: 21px;
    width: 67px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

   .arrow-to-porsche {
    background: url(../assets/mobile/arrows_bottom-mobile.png) no-repeat;
    height: 21px;
    width: 67px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .featured-work-border {
    width: 90%;
    height: 1px;
  }

  .featured-picture {
    margin-left: 0;
    height: 240px;
    width: 100%;
    display: block;
  }

  .mobile-porsche {
    display: block;
  }

  .porsche-large {
    display: none;
  }

  img.featured-picture {
    -webkit-filter:grayscale(0);
  }

  div.featured-background div:nth-child(3) {
    padding: 0;
  }

  .featured-work-left > h4 {
    font-family: 'MavenProRegular';
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #6d6d71;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-work-left > h3 {
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-work-left > p {
    font-family: 'MavenProLight';
    font-size: 0.98em;
    letter-spacing: 0.0325em;
    color: #9f8c86;
    margin-right: 5%;
    margin-left: 5%;
  }

  .featured-background {
    background-color: #ededed;
    height: auto;
  }

  #team-wrap .row div.small-12 {
    width: 90%;
    height: 220px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 1px;
    color: #6d6d71;
    border-top: 1px solid #c2c2c3;
    padding-top: 100px;
    position: relative;
  }

  .client-header {
    font-family: 'MavenProRegular';
    font-size: 18px;
    letter-spacing: 0.0325em;;
    color: #c2c2c3;
    font-style: italic;
    padding-top: 18px;
    border-top: 1px solid #c8c8c8;
  }

  .client-logo {
    padding: 70px;
    border: 1px solid #c8c8c8;
    border-right: none;
    height: 150px;
  }

  .porsche-logo {
    padding-top: 15px;
    text-align: center;
  }

  .yakima-logo {
    text-align: center;
    padding-top: 15px;
  }

  .fisker-logo {
    text-align: center;
    padding-top: 45px;
  }

  .les-logo {
    text-align: center;
    padding-top: 30px;
  }

  .client-logo {
    -webkit-filter:grayscale(0);
  }

  .logo-top-row > div:nth-child(4) {
    padding-top: 55px;
    text-align: center;
  }

  #team-wrap .row:nth-child(2) div.small-12:nth-child(1) {
    border-bottom: 1px solid #c2c2c3;
  }

  #main-footer {
    height: 100px;
  }

  #main-footer div.large-9 {
    height: 100px;
    background-color: #333d47;
  }

  #main-footer div.large-3 {
    height: 100px;
    background-color: #7accc8;
  }

  #contact > small {
    color: #e2dddb;
    font-size: 14px;
    font-family: 'MavenProRegular';
    letter-spacing: 0.0325em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    display: block;
  }

  #main-footer > a > div.large-3  > p {
    font-size: 32px;
    font-weight: 100;
    font-family: 'MavenProLight';
    letter-spacing: 0.0325em;
    color: #fff;
    padding-top: 25px;
  }

  #main-footer a div.large-3:hover {
    background-color: #5A96D9;
    cursor: pointer;
  }
  .top-arrow {
    display: none;
  }

  .top-arrow-mobile {
    background: url(../assets/mobile/arrow_03.png) no-repeat;
    width: 35px;
    height: 42px;
    margin: 140px auto 0;
    cursor: pointer;
  }

  #map {
    width: 100%;
    height: 320px;
    position: static;
  }

  #map > .map-overlay {
    background-color: #ededed;
    width: 100%;
    height: 320px;
    position: static;
    border-right: 0px;
    border-left: 0px;
  }

  .map-overlay .adr:hover > p {
    color: #55B0AC;
    transition: color 1s ease 0s;
  }

  .map-overlay .adr > p {
    transition: color 1s ease 0s;
  }

  .map-overlay > p:nth-child(1), .map-overlay > p:nth-child(2) {
    font-family: 'MavenProRegular';
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #6d6d71;
    text-transform: uppercase;
    line-height: 4px;
    padding-left: 0px;
    text-align: center;
  }

  .map-overlay > p:nth-child(1) {
    padding-top: 60px;
  }

  .adr > p, .adr + p, .tel  {
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #9f8c86;
    text-transform: uppercase;
    line-height: 2px;
    text-align: left;
    padding-left: 5.5em;
  }

  .tel {
    padding-top: 10px;
  }

  .add-us:hover {

    color: #55B0AC;
    transition: color 1s ease 0s;
  }

  .add-us {
    transition: color 1s ease 0s;
  }

  .adr > p:nth-child(1) {
    padding-top: 20px;
  }

  img ~ a {
    font-family: 'MavenProRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #9f8c86;
    line-height: 2px;
    font-style: italic;
  }

  .tel + img {
    display: inline-block;
    padding-left: 3.8em;
  }

  .team-wrapper > h2 {
    padding-top: 40px;
  }

  .team-wrapper {
    height: 1310px
  }

  #about-us + div {
    margin-bottom: 30px;
  }

  .team-wrapper img.ridestyler {
    margin-bottom: 40px;
  }

  #clients + div.row > div:nth-child(4) {
    border-bottom: 1px solid #c8c8c8;
  }
}
